﻿@model AWSS3.Models.AccessRequisitesModel
@{
    ViewBag.Title = "Login";
}

<h2>Specify access keys</h2>

@using (Html.BeginForm(null, null, routeValues: new { ReturnUrl = ViewBag.ReturnUrl }, method: FormMethod.Post, antiforgery: false, htmlAttributes: new { id = "keys-form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.AccessKey, "Access Key")
        @Html.TextBoxFor(m => m.AccessKey, new { required = 1, @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecretKey, "Secret Key")
        @Html.TextBoxFor(m => m.SecretKey, new { required = 1, @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}