﻿@using Amazon.S3.Model
@model ListObjectsResponse
@{
    ViewBag.Title = "Bucket content";

    string __prefix = ViewBag.Prefix;

    string parent = null;
    if (!String.IsNullOrEmpty(__prefix))
    {
        var elements = __prefix.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
        // Each prefix ends up with "/"
        parent = String.Join("/", elements.Take(elements.Count() - 1)) + "/";
    }
}

<header>
    <h2>Bucket: @Model.Name</h2>
</header>
<p>@Html.ActionLink("List of buckets", "")</p>

@using (Html.BeginForm("Upload", null, routeValues: null, method: FormMethod.Post, antiforgery: false, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="FileForUpload" class="form-control">
        <input type="submit" value="Upload" class="btn btn-primary">
    </div>
}

<table class="table">
    <tr>
        <td colspan="4">@Html.ActionLink("..", null, new { prefix = parent })</td>
    </tr>

    @* Folders *@
    @foreach (var directory in Model.CommonPrefixes)
    {
        <tr>
            <td colspan="4">@Html.ActionLink(@directory, null, new { prefix = directory })</td>
        </tr>
    }

    @* Files *@
    @foreach (var file in Model.S3Objects)
    {
        <tr>
            <td>@Html.ActionLink(@file.Key, "GetObject", new { key = file.Key })</td>
            <td>@String.Format("{0:#,#} Kb", Math.Ceiling(Decimal.Divide(file.Size, 1024)))</td>
            <td>@Html.ActionLink("Remove", "Remove", new { key = file.Key })</td>
            <td>@Html.ActionLink("Info", "Info", new { key = file.Key })</td>
        </tr>
    }
</table>